{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="forms" id="container">
    <h2>Connexion</h2>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
        <fieldset>
            <label for="username">Login : </label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus>
        </fieldset>
        <fieldset>
            <label for="password">Mot de passe : </label>
            <input type="password" name="_password" id="password" autocomplete="current-password" required>
        </fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="button" type="submit">Connexion</button>
    </form>
    <p>Pour vous inscrire c'est ici : <a href="{{ path('register') }}">Inscription</a></p>
</main>
{% endblock %}
