{% extends "base.html.twig" %}

{% block main %}
    <main id="container" class="list_artists">
        <h2>
            Liste des artistes
        </h2>
        <ul>
        {% for artist in artists %}
            {% set class = artist.dead == 1 ? 'dead' : '' %}
            <li class="{{ class }}">
                <article onclick="window.location='{{ path('artist', {idArtist: artist.id}) }}';">
                    <h3>{{artist.getName()}}</h3>
                    <p>{{artist.getBirthDate().format("d/m/Y")}}</p>
                    <p>{{artist.getDeathDate().format("d/m/Y")}}</p>
                    <a href="{{ path('artist', {idArtist: artist.id}) }}">Plus</a>
                </article>
            </li>
        {% endfor %}
        </ul>
    </main>
{% endblock %}