{% extends "base.html.twig" %}

{% block title %}Resultats{% endblock %}

{% block body %}
    <main class="cards">
        <h2>Résultats pour {{app.request.query.get('query')}}</h2>
        {% if results.artists is not empty %}
            <p class="text">Artist(s)</p>
        {% endif %}
        <ul>
            {% for artist in results.artists %}
                <li data-image-url="{{ asset('build/images/' ~ artist.media.url) }}" data-image-alt="{{ artist.media.alt }}">
                    <article onclick="window.location='{{ path('artist', {idArtist: artist.id}) }}';">
                        <h3>{{artist.getName()}}</h3>
                        <p>{{artist.getBirthDate().format("d/m/Y")}}</p>
                        {% if artist.getDeathDate() is not null %}
                        <p>{{artist.getDeathDate().format("d/m/Y")}}</p>
                        {% endif %}   
                        <a href="{{ path('artist', {idArtist: artist.id}) }}" class="link">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
        {% if results.albums is not empty %}
            <p class="text">Album(s)</p>
        {% endif %}
        <ul>  
            {% for album in results.albums %}
                <li data-image-url="{{ asset('build/images/' ~ album.media.url) }}" data-image-alt="{{ album.media.alt }}">
                    <article>
                        <h3>{{album.getTitle()}}</h3>
                        <p>{{album.year}}</p>
                        <p><a href="{{ path('album', {idAlbum: album.id}) }}" class="link">Plus</a> 
                    </article>
                </li>
            {% endfor %}
        </ul>
        {% if results.songs is not empty %}
            <p class="text">Chanson(s)</p>
        {% endif %}
        <ul>
            {% for song in results.songs %}
            {# {{dump(song)}} #}
            {# {{dump(song.albums)}} #}
                {% set firstAlbum = null %}
                {% for album in song.getAlbums() %}
                    {% set firstAlbum = album %}
                {% endfor %}
                {# {{dump(firstAlbum)}} #}
                <li data-image-url="{{ asset('build/images/' ~ firstAlbum.media.url) }}" data-image-alt="{{ firstAlbum.media.alt }}">
                    <article>
                        <h3>{{song.getTitle()}}</h3>
                        <p><a href="{{ path('song', {idSong: song.id}) }}" class="link">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}