{% extends "base.html.twig" %}

{% block title %}
    Albums
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="container" class="cards">
        <h2>
            Liste des albums
        </h2>
        <div class="modal-container">
            <div class="overlay modal-trigger"></div>
            <div class="modal-content">
                <button class="close-modal modal-trigger">X</button>
            </div>
        </div>
        <ul>
            {% for album in albums %}
                <li data-image-url="{{ asset('imgs/' ~ album.media.url) }}" data-image-alt="{{ album.media.alt }}">
                    <article >
                        <h3>{{album.getTitle()}}</h3>
                        {% if app.user.userIdentifier is defined %}
                            {% set currentRoute = app.request.attributes.get('_route') %}
                            <img src="{{ asset('imgs/img_formats.png')}}" class="image_collection modal-trigger" alt="collection" data-target="album{{loop.index}}" />
                            <p class="formats album{{loop.index}}">
                                Liste des formats pour l'album {{album.getTitle()}}
                                {% for format in album.formats %}
                                    {{format.libelle}}<a href="{{ path('add_collection', {idAlbum: album.id, idUser: app.user.id, returnUrl: currentRoute, idFormat: format.id}) }}" class="collec">Collection</a><a href="{{ path('add_search', {idAlbum: album.id, idUser: app.user.id, returnUrl: currentRoute, idFormat: format.id}) }}" class="collec">Search</a>
                                {% endfor %}
                            </p>
                        {% endif %}
                        <p><a href="{{ path('album', {idAlbum: album.id}) }}">Plus</a>            
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}