{% extends "base.back.html.twig" %}

{% block title %}Administration de {{app.user.username}}{% endblock %}

{% block body %}
    <main class="admin">
        <h2>PROFILE administrateur de {{app.user.username}}</h2>
        {% for notice in app.flashes('notice') %}
            <span class="flash_notice">{{ notice }}</span>
        {% endfor %}
        <ul>
            <li class="menu-li" data-target="data-online">Données en ligne<div id="li_icons">⊻</div></li>
            <article id="data-online" class="menu-table hidden">
                <h3>Artistes</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Date de naissance</th>
                            <th>Date de mort</th>
                            <th>Pays</th>
                            <th>Média</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artist in artists %}
                            <tr>
                                <td>{{artist.name}}</td>
                                <td>{{artist.description}}</td>
                                <td>{{artist.birthDate.format('d/m/Y')}}</td>
                                {% if artist.deathDate is not null %}
                                    <td>{{artist.deathDate.format('d/m/Y')}}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{artist.country.name}}</td>
                                <td><img src="{{ asset('build/images/' ~ artist.media.url) }}" alt="{{ artist.media.alt }}" class="medias_admin" ></td>
                                <td class="action">
                                    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet artiste ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Albums</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Année</th>
                            <th>Date de création</th>
                            <th>Date de MAJ</th>
                            <th>Média</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albums %}
                            <tr>
                                <td>{{album.title}}</td>
                                <td>{{album.year}}</td>
                                <td>{{album.createdAt.format('d/m/Y H:i:s')}}</td>
                                <td>{{album.updateAt.format('d/m/Y H:i:s')}}</td>
                                <td><img src="{{ asset('build/images/' ~ album.media.url) }}" alt="{{ album.media.alt }}" class="medias_admin" ></td>
                                <td class="action">
                                    <a href="{{ path('album_edit', {'id': album.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('album_delete', {'id': album.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet album ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Chansons</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Durée</th>
                            <th>Genre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                            <tr>
                                <td>{{song.title}}</td>
                                <td>{{song.description}}</td>
                                <td>{{song.duration}}</td>
                                <td>{{song.genre.libelle}}</td>
                                <td class="action">
                                    <a href="{{ path('song_edit', {'id': song.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('song_delete', {'id': song.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette chanson ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Genres</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Libellé</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genre in genres %}
                            <tr>
                                <td>{{genre.libelle}}</td>
                                <td class="action">
                                    <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce genre ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Formats</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Libellé</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for format in formats %}
                            <tr>
                                <td>{{format.libelle}}</td>
                                <td class="action">
                                    <a href="{{ path('format_edit', {'id': format.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('format_delete', {'id': format.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce format ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ format.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Utilisateurs</h3>
                <table id="users-table" class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Rôle(s)</th>
                            <th>Email</th>
                            <th>Date de création</th>
                            <th>Vérifié</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{user.roles|join(', ') }}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.createdAt.format('d/m/Y H:i:s')}}</td>
                                <td>{{user.isVerified}}</td>
                                <td class="action">
                                    <a href="{{ path('user_edit', {route: 'admin', 'id': user.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet utilisateur ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Pays</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for country in countries %}
                            <tr>
                                <td>{{ country.name }}</td>
                                <td class="action">
                                    <a href="{{ path('country_edit', {'id': country.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('country_delete', {'id': country.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce pays ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Médias</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Alt</th>
                            <th>Url</th>
                            <th>Source</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for media in medias %}
                            <tr>
                                <td>{{media.alt}}</td>
                                <td>{{media.url}}</td>
                                <td>{{media.urlSource}}</td>
                                <td><img src="{{ asset('build/images/' ~ media.url) }}" alt="{{ media.alt }}" class="medias_admin" ></td>
                                <td class="action">
                                    <a href="{{ path('media_edit', {'id': media.id}) }}" class="btn btn-success">
                                        <span class="bi bi-pencil-fill"></span>
                                    </a>
                                    <form method="post" action="{{ path('media_delete', {'id': media.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce média ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
            <li class="menu-li" data-target="validate-table">Contrôle et validation<div id="li_icons">⊻</div></li>
            <article id="validate-table" class="menu-table hidden">
                <h3>Artistes</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Date de naissance</th>
                            <th>Date de mort</th>
                            <th>Pays</th>
                            <th>Média</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artist in artistsNotValid %}
                            <tr>
                                <td>{{artist.name}}</td>
                                <td>{{artist.description}}</td>
                                <td>{{artist.birthDate.format('d/m/Y')}}</td>
                                {% if artist.deathDate is not null %}
                                    <td>{{artist.deathDate.format('d/m/Y')}}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{artist.country.name}}</td>
                                <td><img src="{{ asset('build/images/' ~ artist.media.url) }}" alt="{{ artist.media.alt }}" class="medias_admin" ></td>
                                <td class="action">
                                    <form method="post" action="{{ path('artist_valid', {'id': artist.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir valider cet artiste ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('valid' ~ artist.id) }}">
                                        <button type="submit" class="btn btn-warning">
                                            <span class="bi bi-cart-check"></span>
                                        </button>
                                    </form>
                                    <form method="post" action="{{ path('artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet artiste ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Albums</h3>
                <table class="my-5 table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Année</th>
                            <th>Date de création</th>
                            <th>Date de MAJ</th>
                            <th>Média</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albumsNotValid %}
                            <tr>
                                <td>{{album.title}}</td>
                                <td>{{album.year}}</td>
                                <td>{{album.createdAt.format('d/m/Y H:i:s')}}</td>
                                <td>{{album.updateAt.format('d/m/Y H:i:s')}}</td>
                                <td><img src="{{ asset('build/images/' ~ album.media.url) }}" alt="{{ album.media.alt }}" class="medias_admin" ></td>
                                <td class="action">
                                    <form method="post" action="{{ path('album_valid', {'id': album.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir valider cet album ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('valid' ~ album.id) }}">
                                        <button type="submit" class="btn btn-warning">
                                            <span class="bi bi-cart-check"></span>
                                        </button>
                                    </form>
                                    <form method="post" action="{{ path('album_delete', {'id': album.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet album ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Chansons</h3>
                <table class="my-5 table table-striped"> 
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Durée</th>
                            <th>Genre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songsNotValid %}
                            <tr>
                                <td>{{song.title}}</td>
                                <td>{{song.description}}</td>
                                <td>{{song.duration}}</td>
                                <td>{{song.genre.libelle}}</td>
                                <td class="action">
                                    <form method="post" action="{{ path('song_valid', {'id': song.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir valider cette chanson ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('valid' ~ song.id) }}">
                                        <button type="submit" class="btn btn-warning">
                                            <span class="bi bi-cart-check"></span>
                                        </button>
                                    </form>
                                    <form method="post" action="{{ path('song_delete', {'id': song.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette chanson ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="bi bi-trash-fill"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
            <li class="menu-li" data-target="import-table">Import de fichier<div id="li_icons">⊻</div></li>
            <article id="import-table" class="menu-table hidden">
                <h3>Import de fichier</h3>
                <p>
                    Télécharger le modèle : <a href="{{ path('download_model', {filename: 'modele_csv.csv'}) }}">ICI</a>
                </p>
                <form method="post" action="{{ path('upload_csv', {route: 'admin', idUser: app.user.id}) }}" enctype="multipart/form-data" accept-charset="UTF-8">
                    <input type="file" name="csv_file" accept=".csv" />
                    <button type="submit">Envoyer</button>
                </form>
            </article>
            <li class="menu-li" data-target="add-informations">Ajout d'informations<div id="li_icons">⊻</div></li>
            <section id="add-informations" class="menu-table hidden">
                <h3>Formulaires d'ajout d'informations</h3>
                <p class="text">Chaque information que vous allez ajouter sera soumises à vérification par un administrateur</p>
                <a href="{{ path('artist_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouvel artiste</a>
                <a href="{{ path('album_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouvel album</a>
                <a href="{{ path('format_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouveau format</a>
                <a href="{{ path('genre_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouveau genre</a>
                <a href="{{ path('country_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouveau pays</a>
                <a href="{{ path('song_new', {route: 'admin', idUser: app.user.id}) }}" class="form_button">Nouvelle chanson</a>
            </section>
        </ul>
    </main>
{% endblock %}