{% extends "base.back.html.twig" %}

{% block title %}Profile de {{app.user.username}}{% endblock %}

{% block body %}
    <main class="admin">
        <h2>PROFILE de {{app.user.username}}</h2>
        {% for notice in app.flashes('notice') %}
            <span class="flash_notice">{{ notice }}</span>
        {% endfor %}
        {% if not app.user.isVerified %}
            <span class="flash_error">Pour profiter pleinement du site, vous devez activer votre compte. Un e-mail a été envoyé à l'adresse que vous avez fournie lors de votre inscription</span>
        {% endif %}
        <ul>
            <li class="menu-li" data-target="profile">Profil<div id="li_icons">⊻</div></li>
            <article id="profile" class="menu-table hidden">
                <h3>Profil</h3>
                <p>
                    Modification du profile : 
                    <a href="{{ path('user_edit', {route: 'profile', idUser: app.user.id, 'id': user.id}) }}" class="btn btn-success">
                        <span class="bi bi-pencil-fill"></span>
                    </a>
                </p>
                <p>
                    Suppression du profile :
                </p>
                <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre profil ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button type="submit" class="btn btn-danger">
                        <span class="bi bi-trash-fill"></span>
                    </button>
                </form>
            </article>
            <li class="menu-li" data-target="collection-table">Collection d'albums<div id="li_icons">⊻</div></li>
            <table id="collection-table" class="menu-table hidden table table-striped">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Format</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for userAlbumCollection in userAlbumsCollection %}
                        <tr>
                            <td>
                                {% for artist in userAlbumCollection.album.artists %}
                                    {{ artist.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{userAlbumCollection.album.title}}</td>
                            <td>{{userAlbumCollection.format.libelle}}</td>
                            <td><form method="post" action="{{ path('user_album_format_delete', {'id': userAlbumCollection.id, idUser: app.user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet album ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userAlbumCollection.id) }}">
                                <button type="submit" class="btn btn-danger">
                                    <span class="bi bi-trash-fill"></span>
                                </button>
                            </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if app.user.isVerified %}
                    <tr>
                        <td><a href="{{ path('download_csv_collection', {filename: 'collection.csv', idUser: app.user.id}) }}">Excel</a></td>
                        <td><a href="{{ path('download_docx_collection', {filename: 'collection.docx', idUser: app.user.id}) }}">Word</a></td>
                        <td><a href="{{ path('download_pdf_collection', {filename: 'collection.pdf', idUser: app.user.id}) }}">Pdf</a></td>      
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
            <li class="menu-li" data-target="search-table">Album recherchés<div id="li_icons">⊻</div></li>
            <table id="search-table" class="menu-table hidden table table-striped">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Format</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for userAlbumSearch in userAlbumsSearch %}
                        <tr>
                            <td>
                                {% for artist in userAlbumSearch.album.artists %}
                                    {{ artist.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{userAlbumSearch.album.title}}</td>
                            <td>{{userAlbumSearch.format.libelle}}</td>
                            <td><form method="post" action="{{ path('user_album_format_delete', {'id': userAlbumSearch.id, idUser: app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userAlbumSearch.id) }}">
                                <button type="submit" class="btn btn-danger">
                                    <span class="bi bi-trash-fill"></span>
                                </button>
                            </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if app.user.isVerified %}
                    <tr>
                        <td><a href="{{ path('download_csv_search', {filename: 'search.csv', idUser: app.user.id}) }}">Excel</a></td>
                        <td><a href="{{ path('download_docx_search', {filename: 'search.docx', idUser: app.user.id}) }}">Word</a></td>
                        <td><a href="{{ path('download_pdf_search', {filename: 'search.pdf', idUser: app.user.id}) }}">Pdf</a></td>   
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
            <li class="menu-li" data-target="import-table">Import de fichier<div id="li_icons">⊻</div></li>
            <article id="import-table" class="menu-table hidden">
                <h3>Import de fichier</h3>
                <p>
                    Télécharger le modèle : <a href="{{ path('download_model', {filename: 'modele_csv.csv'}) }}">ICI</a>
                </p>
                <form method="post" action="{{ path('upload_csv', {route: 'profile', idUser: app.user.id}) }}" enctype="multipart/form-data" accept-charset="UTF-8">
                    <input type="file" name="csv_file" accept=".csv" />
                    <button type="submit">Envoyer</button>
                </form>
            </article>
            <li class="menu-li" data-target="add-informations">Ajout d'informations<div id="li_icons">⊻</div></li>
            <section id="add-informations" class="menu-table hidden">
                <h3>Formulaires d'ajout d'informations</h3>
                <p class="text">Chaque information que vous allez ajouter sera soumises à vérification par un administrateur</p>
                <a href="{{ path('artist_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouvel artiste</a>
                <a href="{{ path('album_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouvel album</a>
                <a href="{{ path('format_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouveau format</a>
                <a href="{{ path('genre_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouveau genre</a>
                <a href="{{ path('country_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouveau pays</a>
                <a href="{{ path('song_new', {route: 'profile', idUser: app.user.id}) }}" class="form_button">Nouvelle chanson</a>
            </section>
        </ul>
    </main>
{% endblock %}